.App {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-weight: bold;
	font-size: 40px;
}

.left-pane,
.right-pane {
	width: 50vw;
	height: 100vh;
}

.left-pane {
	background-color: white;
	font-size: 20px;
	font-weight: normal;
}

.right-pane {
	height: fit-content;
	min-height: 100vh;
	border-left: 1px solid grey;
}

.right-pane-body {
	font-size: 14px;
	font-weight: normal;
	margin-top: 100px;
	overflow: scroll;
	/* padding: 20px; */
}

.right-pane-fixed-header {
	position: fixed;
	height: fit-content;
	background-color: white;
	width: 100%;
}