.App {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 40px;
}

.left-pane,
.right-pane {
	width: 50vw;
	height: 100vh;
}

.left-pane {
	background-color: white;
	border-right: 1px solid grey;
}
